/* место для вашего кода */
@import "../fonts/fonts.css";
@import "global.css";


.header {
  display: flex;
  align-items: center;
  letter-spacing: 0.18px;
  padding: 92px 49px;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  margin-right: 39px;
}

.header__links-list {
  display: flex;
  gap: 0 32px;
  text-underline-offset: 3px;
  list-style-type: circle;
}

.link_active {
  list-style-type: none;
}

.link_no-bullit {
  text-decoration: none;
}

.header__logo {
  width: 136px;
  margin-right: 192px;
}

.header__logo-image {
  object-fit: scale-down;
}

.header__address {}

.address {
  max-width: 240px;
  text-underline-offset: 3px;
  line-height: 1.35;
  font-style: normal;
}

.tel,
.email {
  white-space: nowrap;
}

.cover {
  position: relative;
  height: 757px;
  text-transform: uppercase;
  background: no-repeat center url(../images/cover.jpg);
  background-size: cover;
}

.cover__overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;

}

.cover__title {
  position: absolute;
  z-index: 1;
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  text-wrap: nowrap;
  word-spacing: -23px;
  letter-spacing: 30px;
}

.aligned-text {
  position: absolute;
  top: 165px;
  left: 50px;
}

.aligned-text_center {
  position: absolute;
  top: 291px;
  left: 336px;
}

.aligned-text_right {
  position: absolute;
  top: 412px;
  left: 633px;
}

.cover__description {
  position: absolute;
  left: 78px;
  bottom: 50px;
  display: flex;
  align-items: center;
  gap: 79px;
}

.cover__description-text {
  display: flex;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18px;
}

.bet-button {
  color: #FFF;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12px 32px;
  border: 1px solid #FFF;
}